<header>
  <app-menu-bar></app-menu-bar>
</header>

<app-menu-title></app-menu-title>
<div class="container__articles">
  <div class="articles__main">
    <app-big-card
    photoCover="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
    cardTitle="aaaaa"
    cardDescription="bbbbb"
    >
  </app-big-card>
  </div>
  <div class="articles__others">
    <app-small-card
     photoCover="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
     cardTitle="ccccc"
     >
    </app-small-card>

    <app-small-card
      photoCover="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
      cardTitle="ccccc"
      >
    </app-small-card>

    <app-small-card
      photoCover="https://ih1.redbubble.net/image.453958487.1770/pp,840x830-pad,1000x1000,f8f8f8.u3.jpg"
     cardTitle="ccccc"
      >
    </app-small-card>

  </div>
</div>
